<a href="https://colab.research.google.com/github/ruthchica31/IA-2024-2/blob/main/jueves_24_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
numero=5
tmp1="ruth"
print(f"Mi nombre es {tmp1}")
print(numero+5)
print(numero-3)
print(numero*3)
print(numero/3)
print(numero%3)
print(numero**3)
numero *= 2
print(numero)
print(type(numero))

Mi nombre es ruth
10
2
15
1.6666666666666667
2
125
10
<class 'int'>

In [ ]:
t=True
f=False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t!=f)

<class 'bool'>
False
True
False
True

In [ ]:
aux1='hello'
aux2=' world'
print(aux1+aux2)
print (aux1*4)
print(aux1.capitalize())
print(aux1.upper())
aux3='RUTH'
print(aux3.lower())
print(aux1.replace('l','L'))

hello world
hellohellohellohello
Hello
HELLO
ruth
heLLo

In [ ]:
aux2=list()
aux2.append(4)
aux2.append("ruth")
aux2.append("True")
print(aux2)
print(aux2[0])
print(aux2[-1])
print(aux2[2])
aux2.pop()
print(aux2)
print(len(aux2))
aux2[1]='juan'
print(aux2)
aux3=[1,2,3,'Juan',True,False]
print (aux3)
aux3.pop()
print(aux3)

[4, 'ruth', 'True']
4
True
True
[4, 'ruth']
2
[4, 'juan']
[1, 2, 3, 'Juan', True, False]
[1, 2, 3, 'Juan', True]

In [ ]:
tmp1=list(range(100))
for x in tmp1:
  print(f"El valor es {x}")

El valor es 0
El valor es 1
El valor es 2
El valor es 3
El valor es 4
El valor es 5
El valor es 6
El valor es 7
El valor es 8
El valor es 9
El valor es 10
El valor es 11
El valor es 12
El valor es 13
El valor es 14
El valor es 15
El valor es 16
El valor es 17
El valor es 18
El valor es 19
El valor es 20
El valor es 21
El valor es 22
El valor es 23
El valor es 24
El valor es 25
El valor es 26
El valor es 27
El valor es 28
El valor es 29
El valor es 30
El valor es 31
El valor es 32
El valor es 33
El valor es 34
El valor es 35
El valor es 36
El valor es 37
El valor es 38
El valor es 39
El valor es 40
El valor es 41
El valor es 42
El valor es 43
El valor es 44
El valor es 45
El valor es 46
El valor es 47
El valor es 48
El valor es 49
El valor es 50
El valor es 51
El valor es 52
El valor es 53
El valor es 54
El valor es 55
El valor es 56
El valor es 57
El valor es 58
El valor es 59
El valor es 60
El valor es 61
El valor es 62
El valor es 63
El valor es 64
El valor es 65
El valor es 66
El valor es 67
El valor es 68
El valor es 69
El valor es 70
El valor es 71
El valor es 72
El valor es 73
El valor es 74
El valor es 75
El valor es 76
El valor es 77
El valor es 78
El valor es 79
El valor es 80
El valor es 81
El valor es 82
El valor es 83
El valor es 84
El valor es 85
El valor es 86
El valor es 87
El valor es 88
El valor es 89
El valor es 90
El valor es 91
El valor es 92
El valor es 93
El valor es 94
El valor es 95
El valor es 96
El valor es 97
El valor es 98
El valor es 99

In [ ]:
listaAnimales=list()
listaAnimales.append("gato")
listaAnimales.append("perro")
listaAnimales.append("leon")
listaAnimales.append("tigre")
listaAnimales.append("elefante")
print(listaAnimales)
tmp1=listaAnimales[:3]
print("Animlaes %s"%(tmp1))
tmp2=listaAnimales[2:]
print("Animlaes %s"%(tmp2))
tmp3=listaAnimales[2:4]
print("Animlaes %s"%(tmp3))
tmp3=listaAnimales[2:4]=["2","5"]
print("Animlaes %s"%(listaAnimales))
tmp3=listaAnimales[2:4]=["vaca","gallina"]
print("Animlaes %s"%(listaAnimales))

['gato', 'perro', 'leon', 'tigre', 'elefante']
Animlaes ['gato', 'perro', 'leon']
Animlaes ['leon', 'tigre', 'elefante']
Animlaes ['leon', 'tigre']
Animlaes ['gato', 'perro', '2', '5', 'elefante']
Animlaes ['gato', 'perro', 'vaca', 'gallina', 'elefante']

In [ ]:
for numero,animal in enumerate(listaAnimales):
  print('%d: %s' %(numero+1,animal))
  print(f"El animal {numero} es {animal}")

1: gato
El animal 0 es gato
2: perro
El animal 1 es perro
3: vaca
El animal 2 es vaca
4: gallina
El animal 3 es gallina
5: elefante
El animal 4 es elefante

In [ ]:
listNum=list(range(20))
print(listNum)
listNumCuadrado=list()
for numero in listNum:
  listNumCuadrado.append(numero**2)
print(listNumCuadrado)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
listaCuadrados=[ i**2 for i in listNum]
print(listaCuadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
listaCuadraos=[ i for i in listNum if i%2==1]
print(listaCuadraos)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
myDiccionario={'dog':'bonito','elefante':'grande'}
print(myDiccionario)

{'dog': 'bonito', 'elefante': 'grande'}

In [ ]:
for key in myDiccionario:
  print(myDiccionario[key])

bonito
grande

In [ ]:
diccionarioCuadrados={'1':1,'2':4,'3':9,'4':16}
print(diccionarioCuadrados)
diccionarioCuadrados={ i:1**2 for i in listNum }
print(diccionarioCuadrados)

{'1': 1, '2': 4, '3': 9, '4': 16}
{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1, 12: 1, 13: 1, 14: 1, 15: 1, 16: 1, 17: 1, 18: 1, 19: 1}

In [ ]:
setElementos=set()
setElementos.add('perro')
setElementos.add('gato')
setElementos.add('leon')
setElementos.add('tigre')
setElementos.add('elefante')
print(setElementos)

{'leon', 'perro', 'elefante', 'gato', 'tigre'}

In [ ]:
print('perro' in setElementos)
setElementos.add('gato')
print(setElementos)
# setElementos.remove('elefante')
print(setElementos)
print (len(setElementos))

True
{'leon', 'perro', 'elefante', 'gato', 'tigre'}
{'leon', 'perro', 'elefante', 'gato', 'tigre'}
5

funciones

In [ ]:
def suma(a,b):
  return a+b

  tmp1=5
  tmp2=10
print('la suma de los valores es igual:', suma(tmp1,tmp2))

la suma de los valores es igual: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 'leon', 'tigre', 'elefante']

In [ ]:
numero = -5

if numero > 0:
  print(f"{numero} es positivo")  # el numero es positivo
else:
  print(f"{numero} es negativo")  # el numero es negativo

-5 es negativo

In [ ]:
listNumeros=[1,2,3,4,5,6,7,8,9,10]
def evaluacionSigno(tmp):
  if tmp>0:
    return 'the numero es entero positivo'
  elif tmp<0:
    return 'the numero es entero negativo'
  else:
    return 'the numero es cero'
for cadanumero in listNumeros:
  print(evaluacionSigno(cadanumero))
    return 'the numero es cero'
     for cadanumero in listNumeros:
          print(evaluacionSigno(cadanumero))

IndentationError: unexpected indent (<ipython-input-79-a899bf83817d>, line 11)

In [ ]:
class saludos(object):
  #contructor
  def __init__(self, nombre):
    self.nombre=nombre
    print('Se ejecuta automaticamente')
    def mensaje(self):
      print('hola',self.nombre)

    name1=saludos('ruth')
    name1.mensaje()

In [ ]:
class numeros(object):
  #contructor
  def __init__(self, numero1,numero2):
    self.numero1=numero1
    self.numero2=numero2
    def suma(self):
      return self.numero1+self.numero2
      problema1=numeros(5,10)
      print(problema1.suma())
    def resta(self):
      return self.numero1-self.numero2
      problema1=numeros(5,10)
      print(problema1.resta())